<% content_for :title do %>DSH Dashboard<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="vialis" data-view="HotStatus" data-title="Vialis" data-description="Testresults Vialis"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="DynnIQ" data-view="HotStatus" data-title="DynnIQ" data-description="Testresults DynnIQ"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="TomTom" data-view="HotStatus" data-title="TomTom" data-description="Testresults TomTom"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Siemens" data-view="HotStatus" data-title="Siemens" data-description="Testresults Siemens"></div>
    </li>

  </ul>
</div>
